## Docker compose files
COMPOSE_FILE=orange.base.yml:orange.build.yml:orange.volumes.yml
COMPOSE_PATH_SEPARATOR=:
COMPOSE_PROJECT_NAME=orange_docker

## BASE
APP=ord

## ORANGE
ORANGE_HTTP_PORT=8888
ORANGE_API_PORT=7777
ORANGE_DASHBOARD_PORT=9999

## MYSQL 
MYSQL_VERSION=5.7
MYSQL_DATABASE=default
MYSQL_PORT=3306
MYSQL_USER=mcweb
MYSQL_PASSWORD=123456
MYSQL_ROOT_PASSWORD=123456
MYSQL_TIMEZONE=UTC

## CONSUL
CONSULE_LEADER_PORT=8500